
//统一的按钮及输入框hover颜色
@hoverColor: rgba(0,0,255,.3);
@inputHeight: 60px;
@smallWidth: 80%;

html {
	position: relative;
    min-height: 100%;
    font-size: 20px;
    font-family: 'Microsoft YaHei';
}
body {
    background: linear-gradient(45deg, #bb469d 0%, #bd63ac 10%, #c58abd 20%, #d2aac7 30%, #cbbdc2 40%, #cbcac7 50%, #c1cec7 60%, #afe4d5 70%, #8dddd1 80%, #6ad3ce 90%, #50c8c9 100%);
}
.content {
	position: relative;
	margin-top: 4%;
	text-align: center;	
	
	> .title {
		padding: 1em;
		font-size: 1.5em;
		color: #666;

		@media (max-width:768px) {
			& {
				padding: 0 0 .4em;
				font-size: 1.35em;
			}
		}
	}

	> .content-question {
		box-sizing: border-box;
		padding: 10px 30px;
		width: 60%;
		height: @inputHeight;
		font-family: 'monospace';
		font-size: 22px;
		border-radius: 1111px;
		outline: none;
		border: none;
		transition: all .4s;

		&:hover {
			box-shadow: 1px 1px 20px 1px @hoverColor;
		}

		@media (max-width:768px) {
			& {
				width: @smallWidth;
				height: @inputHeight * 0.8;
				margin-bottom: @inputHeight * 0.2;
			}
		}
	}

	> .caculate-btn {
		width: 5em;
		height: @inputHeight;
		font-size: 25px;
		white-space: 10px;
		font-weight: 900;
		color: #fff;
		background-color: #bc59a7;
		border-radius: 1111px;
		border: none;
		outline: none;
		transition: all .4s;
		cursor: pointer;

		&:hover {
			background-color: @hoverColor;
		}

		@media (max-width:768px) {
			& {
				width: @smallWidth;
				height: @inputHeight * 0.6;
			}
		}		
	}
}
.result {
	position: relative;
	margin-top: 2%;
	color: #777;
	@media (max-width:768px) {
		& {
			margin-top: 1%;
		}
	}
	&.correct {
		color: green;
	}
	&.error {
		color: red;
	}
}
.setting {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 60px;
	@media (max-width:768px) {
		& {
			margin-top: 0;
		}
		.text {
		  display: none;
		}
	}
	div {
		margin-top: 30px;
	}
	input {
		.content>.content-question;
		margin-right: 20px;
		width: 25%;
		height: 40px;
		@media (max-width:768px) {
			& {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: @smallWidth;
			height: 35px;
			margin-bottom: 10px;
			}
		}
	}
	button {
		.content>.caculate-btn;
		height: 40px;
		width: 100px;

		@media (max-width:768px) {
			& {
				width: @smallWidth;
				height: 35px;
			}
		}
	}
}

.footer {
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
	.info {
		color: #666;
	}
	.copyright {
		font-size: .6em;
	}
}